@import "tailwindcss";

html {
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

@theme {
  --primaryGreen: #2d5016;
  --secondaryGreen: #7a9b57;
  --complementaryOrange: #cc7722;
  --secondaryOrange: #f5f5dc;
  --textBlack: #000000;
  --textWhite: #ffffff;
  --textGray: #8c8c8c;
  --textGray2: #404040;
  --textGray3: #898989;
  --buttonStroke: #b7b7b7;
}
@layer components {
  .flex-center {
    @apply flex items-center justify-center;
  }
  .btn-primary {
    @apply transition-all duration-200 text-white rounded-md cursor-pointer hover:bg-[#294b14];
    background-color: var(--primaryGreen);
  }
  .bgGreen {
    background-color: var(--primaryGreen);
  }
  .bgOrange {
    background-color: var(--complementaryOrange);
  }
  .bgLightgreen {
    background-color: var(--secondaryGreen);
  }
  .bgLightOrange {
    background-color: var(--secondaryOrange);
  }
  .buttonStroke {
    border: var(--buttonStroke);
  }
  .primary_text {
    color: var(--primaryGreen);
  }
  .secondary_text {
    color: var(--secondaryGreen);
  }
  .orangeText {
    color: var(--complementaryOrange);
  }
}
